@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html {
  font-size: 16px;
}
body {
  background-color: #f0f5fa;
  color: #141e28;
  font-family: "Heebo", "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothicUI, "Yu Gothic UI", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.material-icons-outlined {
  font-family: "Material Icons";
}
header {
  width: 100%;
  height: 4rem;
  background: #dce6f0;
}
#head-contents {
  width: clamp(300px, 95%, 1000px);
  height: 100%;
  margin: auto auto;
}
#navigation {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
}
#navigation #menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  width: 50%;
}
@media (max-width: 750px) {
  #navigation a {
    color: #141e28;
    text-decoration: none;
  }
  #navigation a img {
    width: 2.5rem;
  }
  #navigation #menu {
    display: none !important;
  }
  #navigation #menu a {
    padding: 1.2em;
  }
  #navigation #menu a:hover {
    background-color: #f2f6fa;
    color: #141e64;
  }
  #menu-icon {
    font-size: 3rem;
  }
  .menu-check {
    display: none;
  }
  #hamburg-menu-list {
    display: none;
  }
  .menu-check:checked~#hamburg-menu-list {
    position: absolute;
    right: 0px;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 2.75rem;
    top: 4rem;
    background-color: #d2dce6;
    -webkit-animation: 100ms fadeIn;
            animation: 100ms fadeIn;
    z-index: 9999;
    border-radius: 5px;
  }
@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
}
@media screen and (min-width: 751px) {
  #navigation a {
    color: #141e28;
    text-decoration: none;
  }
  #navigation a img {
    width: 2.5rem;
  }
  #navigation #menu a {
    padding: 1.2em;
  }
  #navigation #menu a:hover {
    background-color: #f2f6fa;
    color: #141e64;
  }
  #hamburg-menu {
    display: none;
  }
}
#content {
  width: clamp(300px, 95%, 1000px);
  margin: 1rem auto;
}
#content section {
  margin: 1rem auto;
}
#content h1 {
  font-size: 2.3rem;
  margin: 20px 20px;
  text-align: center;
}
#content h2 {
  font-size: 1.7rem;
  margin-top: 1.4rem;
}
#content h2:not(:first-child) {
  margin-top: 1.9rem;
}
#content h3 {
  font-size: 1.4rem;
  margin-top: 1.7rem;
}
#content h3:not(:first-child) {
  margin-top: 1rem;
}
#content p {
  font-size: 1.2rem;
  margin: 0.5rem 0.5rem;
  letter-spacing: 0.02rem;
  line-height: 1.75rem;
}
#content a {
  color: #141e64;
}
#content ul li {
  font-size: 1.2rem;
  margin: 0.3rem 0.2rem;
  margin-left: 1.6rem;
  letter-spacing: 0.01rem;
  line-height: 1.6rem;
  list-style-position: inside;
  text-indent: -1rem;
}
footer {
  width: 100%;
  height: 6rem;
  background: #dce6f0;
}
#foot-contents {
  width: clamp(300px, 95%, 1000px);
  height: 100%;
  margin: auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#foot-contents p {
  letter-spacing: 0.02rem;
  line-height: 1.5rem;
  text-align: center;
}
#foot-contents a {
  color: #141e28;
}
#hero>img {
  width: 100%;
}
#featuresBase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.featuresTiles {
  width: 29rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1px auto 2rem auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
          box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #f9fcff;
}
#featuresBase img {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
  margin-bottom: 0.2rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
#featuresBase p {
  font-size: 1rem;
}
#download>#dlBack {
  position: relative;
  overflow: hidden;
  margin: 0.5rem auto;
  width: clamp(300px, 95%, 700px);
  height: 240px;
  background-image: url("../img/hero.png");
  background-size: cover;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}
#download>#dlBack:before {
  content: "";
  background: inherit;
  -webkit-filter: blur(10px) brightness(60%) contrast(90%);
          filter: blur(10px) brightness(60%) contrast(90%);
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
}
.dlBtn {
  width: 84%;
  height: 70px;
  padding: 0.5rem;
  background-color: rgba(0,0,0,0.7);
  color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-decoration: none;
  border-radius: 500px;
}
.dlBtn>img {
  width: 3rem;
  -webkit-filter: drop-shadow(0px 0px 2px #fff);
          filter: drop-shadow(0px 0px 2px #fff);
}
#dlBack>.dlBtn>p {
  font-size: 2rem;
}
#dlBack>p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #fff;
  letter-spacing: 0;
  font-size: 1.3rem;
  margin: 0;
}
#dlBack>a {
  color: #fff;
}
@media screen and (max-width: 570px) {
  #dlText_Desktop {
    display: none;
  }
  #dlText_Mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 571px) {
  #dlText_Desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #dlText_Mobile {
    display: none;
  }
}
#downloadlist>.download>.downloadlistitem {
  position: relative;
  overflow: hidden;
  margin: 0.5rem auto;
  max-width: 70%;
  height: auto;
  background-color: #f9fcff;
  background-size: cover;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row;
      flex-direction: row;
}
#downloadlist>.download>.downloadlistitem h3 {
  margin-top: 0px;
}
.downloadlistitem>div {
  vertical-align: middle;
  margin: auto auto auto auto;
  text-align: center;
}
.downloadlistBtn {
  width: 240px;
  height: 50%;
  padding: 0.5rem;
  margin: 2% auto 2% auto;
  background-color: rgba(20,30,40,0.8);
  color: #f5f5f5 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-decoration: none;
  border-radius: 500px;
}
.downloadlistBtn>img {
  width: 2.4rem;
  -webkit-filter: drop-shadow(0px 0px 2px #fff);
          filter: drop-shadow(0px 0px 2px #fff);
}
.downloadlistBtn>p {
  font-size: 1.8rem;
}
#dlBack>p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #fff;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  letter-spacing: 0;
}
#dlBack>a {
  color: #fff;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.maindlBtn {
  width: 40%;
  height: 50%;
  padding: 0.5rem;
  margin: auto auto 2% auto;
  background-color: rgba(20,30,40,0.8);
  color: #f5f5f5 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-decoration: none;
  border-radius: 500px;
}
.maindlBtn>img {
  width: 2.4rem;
  -webkit-filter: drop-shadow(0px 0px 2px #fff);
          filter: drop-shadow(0px 0px 2px #fff);
}
@media screen and (max-width: 750px) {
  #organization>ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  #organization>ul>li {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 751px) {
  #organization>ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  #organization>ul>li {
    margin-left: 1rem;
  }
  #organization>ul>li:not(:last-child) {
    margin-bottom: 1.4rem;
  }
  #organization>ul>li:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  #organization>ul>li:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  #organization>ul>li:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  #organization>ul>li:nth-child(4) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  #organization>ul>li:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
  }
  #organization>ul>li:nth-child(6) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  #organization>ul>li:nth-child(7) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
}
#organization>p {
  text-align: right;
}
